:root {
    --sider-bg: #1c3048;
    --sider-bg-hover: #1aa4c8;
    --table-row-hover: rgba(26, 164, 200, .2);
    --table-head: #f5f5f5;
    --main-bg: #f4f7ff;
    --border-color: #afafaf;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

input {
    margin: 0;
}

input::placeholder {
    font-style: italic;
}

input[type=number] {
    text-align: right;
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer;
}

/* customize the dropdown arrow of select tag */
select {
    padding: 10px;
    padding-right: 30px;
  
    /* hide the default */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; */
}
  
/* hide the default for IE */
select::-ms-expand {
    display: none;
}

/* tooltip common css */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    box-shadow: 0px 5px 10px #888888;
}

.tooltip .tooltiptext {
    display: none;
    min-width: 80px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px 4px;
    font-size: 12px;
}

/* Position the tooltip */
.tooltip .tooltiptext.bottomtooltip {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext.righttooltip {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    display: inline-block;
}

.menu__item.tooltip:hover .tooltiptext {
    display: none;
}

.menu__item.tooltip.activetooltip:hover .tooltiptext {
    display: inline-block;
}

/* reset tooltip css for th */
th div.tooltip {
    border-bottom: none;
    box-shadow: none;
    background-color: #f5f5f5;
    margin: 0;
}

.navbar__container--link.tooltip {
    border-bottom: none;
    box-shadow: none;
    background-color: white;
    margin: 0;
}

.table-column .tooltip {
    border-bottom: none;
    box-shadow: none;
    margin: 0;
}

.menu__item.tooltip {
    border-bottom: none;
    box-shadow: none;
}

/* validate form */
.form-group.invalid .form-input {
    border: 1.25px solid red;
    border-radius: 3px;
}

.form-group.invalid .form-message {
    display: block;
    color: red;
}

.form-group .form-message {
    font-size: 12px;
    margin-top: 4px;
    display: none;
}

/* custom the scrollbar */
/* width and height */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #afafaf; 
}

.show {
    display: block;
}
